.block-container {
	display: block;
}

.flex {
	flex : 1;
}

.flex-container {
	display: flex;
}

.flex-vertical-container {
	flex-direction: column;
}

.flex-horizontal-container {
	flex-direction: row;
}

.gap {
	gap: 16px;
}


body {
	background-color: #eaeaea;
}

button {
	padding: 8px;
}

#popup-viewport {
	width: 370px;
	height: auto;
	overflow: hidden;
}

#hostname-container {
	margin-bottom: 8px;

	font-size: 1em;

	color: black;
	
	border: 1px solid black;
	border-radius: 4px;
	padding: 4px;
}

#textbox-container {
	width: 100%;
	flex: 5;
}

#popup-textarea {
	width: 370px;
	height: 310px;

	margin-bottom: 8px;

	background-color: #230000;
	color: #ebffe0;
}

#controls-container {
	padding: 16px 8px;
}
